<html>
  <head>
    <title>run a script</title>
    <script type="text/javascript" src="templates/ajax.js"></script>
    <script type="text/javascript">
      var get_output = null;
      
      window.onload = function()
      {
        get_output = (function()
        {
          return function()
          {
            var query_params = "building_type=" + document.getElementById("building_type").value +
                // get more parameter values here.
                "&area=1325" +
                "&zipcode=98112" +
                "&electricity_consumption=12345.67" +
                "&electricity_eui=42.0" +
                "&gas_consumption=12345.67" +
                "&gas_eui=1123.58";
            
            var result = send_request("/get_output", "GET", query_params, false, undefined, function(response) { alert("error: " + response) });
            
            var result_div = document.getElementById("result");
            result_div.innerHTML = "latest result:<br>" + result.replaceAll(" ", "&nbsp;&nbsp;").replaceAll("\n", "<br />\n");
          }
        })();
      }
    </script>
  </head>
  <body style="background-color: #000000; color: #FFFFFF;">
    <form>
      <select id="building_type">
        <option>ApartmentMidRise</option>
        <option>OfficeMedium</option>
      </select>
      <br />
      <!-- set more parameter values here. -->
      <button type="button" onclick="get_output(); return false;">do a thing.</button>
    </form>
    <br />
    <div id="result"></div>
  </body>
</html>